.main {
  position: relative;
}
.profile > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 160%;
  z-index: 1;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  right: 0;
}
.profile > img {
  width: 1;
  position: absolute;
}
header > .icon {
  position: absolute;
  top: 50px;
  left: 5%;
}
header > .kategorie {
  position: absolute;
  top: 50px;
  right: 3%;
}
.profile > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0;
}
.profile > ul > li {
  text-align: right;
  list-style: none;
}
.imagebox {
  display: flex;
  position: absolute;
  background-color: #a7a7a7;
  width: 455;
  height: 580;
  top: 0;
  left: 130px;
}
.imagebox > img {
  position: relative;
  top: 40px;
  left: 40px;
  box-shadow: 3px 10px 10px 10px #969696;
}
.nmixx {
  width: 1100px;
  height: 650px;
  position: relative;
  left: 50px;
  top: 150px;
  margin: 0 auto;
}
.name {
  position: absolute;
  bottom: 3%;
  right: 15%;
  font-size: 13px;
}
.vertical {
  writing-mode: vertical-rl;
  font-size: 18px;
  margin-left: 86%;
  font-weight: 800;
}
.name > h1 {
  font-size: 30px;
}
.name > b {
  font-size: 15px;
}
.line {
  border: 1px solid black;
  width: 0px;
  height: 150px;
}
.wrapper {
  position: relative;
  bottom: 350px;
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 60px;
}

.profile > ul > li:hover {
  transition: 1s ease-out;
  overflow: hidden;
  transform: scale(1.1);
}
footer {
  position: absolute;
  text-align: right;
  right: 10px;
  font-size: 11px;
  font-weight: 700;
  top: 98%;
}
strong {
  color: skyblue;
}
.sns > ul {
  position: fixed;
  bottom: 35px;
  left: 1%;
  z-index: 1;
}
.sns > ul > li {
  list-style: none;
  width: 50%;
  height: 50%;
  margin-bottom: 30px;
}

.sns > ul > li:hover {
  transition: 1s ease-out;
  transform: translateX(10px);
}
.sns > ul > li > a > img {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 1000px) {
  .sns > ul > li {
    display: inline-block;
    width: 5%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1500px) {
  .wrapper > .box {
    overflow: hidden;
    margin-right: 10px;
    display: none;
  }
}
.back {
  position: absolute;
  top: 50px;
  right: 3%;
}
.menu > a {
  display: flex;
  text-align: center;
  position: relative;
  left: 40%;
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 10px;
  top: 260px;
}
.menu > a:hover {
  margin-left: 10px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
nav > h1 {
  font-size: 60px;
  position: relative;
  left: 45%;
  margin-bottom: 25%;
  top: 120px;
}
.callery > .see1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.callery > .see2 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.callery > .see3 {
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.callery > .see4 {
  position: absolute;
  top: 600px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.jjyp > footer {
  position: absolute;
  text-align: right;
  right: 10px;
  font-size: 11px;
  font-weight: 700;
  top: 150%;
}
.mv {
  position: relative;
  left: 400px;
  bottom: 300px;
}
.youtube {
  display: flex;
}
.shsh {
  margin: 0;
  display: flex;
  column-gap: 10px;
  position: relative;
}
.youtube > .shsh > li {
  position: relative;
  z-index: 5;
}
.youtube > ul {
  list-style: none;
  position: relative;
  margin: 0 auto;
  top: 400px;
}
.youtube > ul > li > input {
  display: none;
}
.youtube > ul > .official {
  display: none;
}
.youtube > ul > li > label > h2 {
  font-size: 15px;
}
.youtube > ul > li > label > p {
  font-size: 13px;
}
label:hover {
  cursor: pointer;
}
.zze {
  position: absolute;
  top: -650px;
  left: 2;
  opacity: 0;
}
.shsh:has(#대쉬[type="radio"]:checked) > .zze.one {
  z-index: 3;
  opacity: 1;
}
.shsh:has(#수냐르[type="radio"]:checked) > .zze.two {
  z-index: 3;
  opacity: 1 !important;
}
.shsh:has(#어클락[type="radio"]:checked) > .zze.three {
  z-index: 3;
  opacity: 1 !important;
}
.shsh > li > label > img:hover {
  background-color: black;
}

.background-box {
  width: 360px;
  height: 203px;
  position: absolute;
  opacity: 0;
  background-color: black;
  background-image: url(NMIXX/nmixx-media-button.png);
  background-size: 60px;
  background-position: center;
  background-repeat: no-repeat;
}
.background-box:hover {
  opacity: 0.8;
}
